{% extends "store/main.html" %}

{% load static%}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% block content%}
{% if cur_user %}
<div class="d-flex justify-content-center">
    {% if messages%}{% for message in messages%}
    <div class="alert {{message.tags}} fade show" id="alert-box">
        <div class="d-flex align-items-center">
            <i class='bx bx-info-circle fs-5 m-2'></i>
        {{message}}
        {% endfor %}
        </div>
      </div>
    {% endif %}
</div>
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="page-content">
				<!--start breadcrumb-->
                <section class="py-3 border-bottom border-top  d-flex bg-light">
                    <div class="container">
                        <div class="page-breadcrumb d-flex align-items-center">
                            <h3 class="breadcrumb-title pe-3">My Addresses</h3>
                            <div class="ms-auto">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb mb-0 p-0">
                                        <li class="breadcrumb-item"><a href="javascript:;">Account</a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page">Address</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </section>
				<!--end breadcrumb-->
				<!--start shop cart-->
				<section class="py-4">
					<div class="container">
						<h3 class="d-none">Account</h3>
						<div class="card">
							<div class="card-body">
								<div class="row">
									<div class="col-lg-4">
										<div class="card shadow-none mb-3 mb-lg-0 border">
											<div class="card-body">
												<div class="list-group list-group-flush">
                                                    <a href="{% url 'dashboard'%}" class="list-group-item d-flex justify-content-between align-items-center">Account Details <i class='bx bx-user-circle fs-5'></i></a>
													<a href="{% url 'orders'%}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Orders <i class='bx bx-box fs-5'></i></a>
													<a href="{% url 'address'%}" class="list-group-item active d-flex justify-content-between align-items-center">Addresses <i class='bx bx-home-smile fs-5'></i></a>
													<a href="{% url 'payment_method'%}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Payment Methods <i class='bx bx-credit-card fs-5'></i></a>
                                                    <a href="{% url 'payment_method'%}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">My Reviews <i class='bx bx-star fs-5'></i></a>
													<a href="{% url 'logout'%}" class="list-group-item d-flex justify-content-between align-items-center bg-transparent">Logout <i class='bx bx-log-out fs-5'></i></a>
												</div>
											</div>
										</div>
                                        <div class="container border my-3 rounded">
											<div class="card-body">
											<div class="list-group list-group-flush">
											<a href="{% url 'cart'%}" class="list-group-item d-flex justify-content-between align-items-center">Open Cart <i class='bx bx-cart-alt fs-5'></i></a>
											<a href="{% url 'my_favourites'%}" class="list-group-item d-flex justify-content-between align-items-center">Open Favourites <i class='bx bx-heart fs-5'></i></a>
										</div>
										</div>
                                    </div>
									</div>
									<div class="col-lg-8">
										<div class="card shadow-none mb-0">
											<div class="card-body">
												<h6 class="mb-4 text-center">** The following addresses will be used as Billing Address by default.</h6>
                                                <div class="container px-4" >
												<div class="row">
													<div class="col-12 col-lg-6">
														<h5 class="mb-3">Current Billing Address:</h5>
														<address class=" shadow border rounded p-3">
                                                    {% for address in addresses %}
                                                        {% if address.isactive%}
                                                                {{address.name}}<br>
                                                                {{address.abline1}}<br>
                                                                {{address.abline2}}<br>
                                                                {{address.city}}<br>
                                                                {{address.state}}<br>
                                                                {{address.country}}<br>
                                                                {{address.zip}}<br>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% if not addresses%}
                                                    ** You don't have any address in your account.<br>
                                                    Please create a new address.<br>
                                                    {%endif%}
												  </address>
													</div>
												</div>
												<!--end row-->
                                                </div>
											</div>
                                            <div class="container m-3">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-dark btn-sm rounded-0" data-bs-toggle="modal" data-bs-target="#Addmodal">
                                                Add New
                                            </button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="Addmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-scrollable">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Address</h1>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="card shadow-none mb-0 border">
                                                            <div class="card-body">
                                                                <form method="post" name="add" class="row g-3">
                                                                    {% csrf_token %}
                                                                    <div class="col-12">
                                                                        <label input="text" class="form-label">Name</label>
                                                                        <input type="text"
                                                                        name="name" class="form-control" placeholder="Madison">
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <label class="form-label">Phone</label>
                                                                        <input type="phone" class="form-control" 
                                                                        name="phone" placeholder="0123456789">
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <label class="form-label">Email address</label>
                                                                        <input type="text" class="form-control" 
                                                                        name="email" placeholder="madison.ruiz@gmail.com">
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <label class="form-label">Address Line 1</label>
                                                                        <input type="text" class="form-control" 
                                                                        name="adrline1" placeholder="Address Line 1">
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <label class="form-label">Address Line 2</label>
                                                                        <input type="text" class="form-control" 
                                                                        name="adrline2" placeholder="Address Line 2">
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <label class="form-label">Address Line 3</label>
                                                                        <input type="text" class="form-control" 
                                                                        name="adrline3" placeholder="Address Line 3">
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <label class="form-label">City</label>
                                                                        <input type="text" class="form-control" 
                                                                        name="city" placeholder="City">
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <label class="form-label">State</label>
                                                                        <input type="text" class="form-control" 
                                                                        name="state" placeholder="State">
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <label class="form-label">Country</label>
                                                                        <input type="text" class="form-control" 
                                                                        name="country" placeholder="State">
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <label class="form-label">Postal Code</label>
                                                                        <input type="text" class="form-control" 
                                                                        name="zip" placeholder="Postal code">
                                                                    </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary btn-sm rounded-0 " data-bs-dismiss="modal">Close</button>
                                                    <button type="submit" name="address_addbtn" value="Submit" class="btn btn-dark btn-sm rounded-0">Save Changes</button>
                                                    </div>
                                                </div>
                                                </form>
                                            </div>
                                                
                                            </div>
                                            <!-- Button to open the main modal -->
                                             <button type="button" class="btn btn-dark btn-sm rounded-0 mx-1" id="openMainModalBtn">
                                                View All</button> 

                                            <!-- Main Modal -->
                                            <div class="modal fade" id="mainModal" tabindex="-1" aria-labelledby="mainModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialogg-scrollable">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="mainModalLabel">All Address</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="container">
                                                            {% for address in addresses%}
                                                            <div class="row border my-2">
                                                                <div class="col-12 col-lg-12 p-2">
                                                                    <div class="container">
                                                                        {% comment %} {% with name_part = address.name|split:" "%} {% endcomment %}
                                                                    <h5 class="mb-3">{{address.name}}'s Address: </h5>
                                                                    <address>
                                                                        {{address.abline1}}<br>
                                                                        {{address.abline2}}<br>
                                                                        {{address.phone}}<br>
                                                                        {{address.city}}<br>
                                                                        {{address.state}}<br>
                                                                        {{address.country}}<br>
                                                                        {{address.zip}}<br>
                                                                        
                                                                    </address>
                                                                    </div>
                                                                    <div class="container d-flex align-items-center">

                                                                    <a href="#" class="btn btn-dark btn-sm rounded-0" data-bs-toggle="modal" data-bs-target="#editmodal-{{address.id}}">Edit Address</a>

                                                                    <input class="form-check-input mt-0 align-items-cente mx-2"  type="checkbox" value="" aria-label="Checkbox for following text input" {% if address.isactive%}checked{% else %} '' {% endif %}>Make Default</input>

                                                                </div>
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                            {% if not addresses%}
                                                            <div class="row border rounded p-1 m-1">
                                                                <div class="col-12 col-lg-12">
                                                                    <div class="container">
                                                                    <address>
                                                                        You don't have any address in your account.<br>
                                                                        Please create a new address.<br> 
                                                                    </address>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {%endif%}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary btn-sm rounded-0 mx-1" data-bs-dismiss="modal">Close</button>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!--Nested Modal -->
                                            {% for address in addresses %}
                                            <div class="modal editmodal" id="editmodal-{{address.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-scrollable">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Address</h1>
                                                        </div>
                                                        <div class="modal-body">
                                                            <div class="card shadow-none mb-0 border">
                                                                <div class="card-body">
                                                                    <form method="post" name="edit" class="row g-3">
                                                                        {% csrf_token %}
                                                                        <div class="col-12">
                                                                            <label input="text" class="form-label">Name</label>
                                                                            <input type="text"
                                                                            name="name_edit" class="form-control" value={{address}}>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <label class="form-label">Phone</label>
                                                                            <input type="phone" class="form-control" 
                                                                            name="phone_edit" value="{{address.phone}}">
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <label class="form-label">Email address</label>
                                                                            <input type="text" class="form-control" 
                                                                            name="email_edit" value="{{address.email}}">
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <label class="form-label">Address Line 1</label>
                                                                            <input type="text" class="form-control" 
                                                                            name="adrline1_edit" value="{{address.abline1}}">
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <label class="form-label">Address Line 2</label>
                                                                            <input type="text" class="form-control" 
                                                                            name="adrline2_edit" value="{{address.abline2}}">
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <label class="form-label">Address Line 3</label>
                                                                            <input type="text" class="form-control" 
                                                                            name="adrline3_edit" value="{{address.abline3}}">
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <label class="form-label">City</label>
                                                                            <input type="text" class="form-control" 
                                                                            name="city_edit" value="{{address.city}}">
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <label class="form-label">State</label>
                                                                            <input type="text" class="form-control" 
                                                                            name="state_edit" value="{{address.state}}">
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <label class="form-label">Country</label>
                                                                            <input type="text" class="form-control" 
                                                                            name="country_edit" value="{{address.country}}">
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <label class="form-label">Postal Code</label>
                                                                            <input type="text" class="form-control" 
                                                                            name="zip_edit"
                                                                            value="{{address.zip}}">
                                                                        </div>
                                                                        <button class="btn btn-dark btn-sm rounded-0">Save</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-dark btn-sm rounded-0 backToMainModalBtn" id="backToMainModalBtn">
                                                            Back
                                                            </button>
                                                            <button type="button" name="address_editbtn" class="btn btn-secondary btn-sm rounded-0" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                    </div>
                                            </div>
                                            {% endfor %}
                                            
                                            <script type="text/javascript">
                                                // JavaScript code to open and close modals
                                                document.getElementById('openMainModalBtn').addEventListener('click', function () {
                                                    $('#mainModal').modal('show');
                                                });

                                                $(document).ready(function() {
                                                    $("#MyModal").modal();
                                                  });

                                                document.getElementById('backToMainModalBtn').addEventListener('click', function () {
                                                    var backButtons = document.getElementsByClassName("backToMainModalBtn");
                                                    for (var i = 0; i < backButtons.length; i++) {
                                                        backButtons[i].addEventListener('click', function () {
                                                            var nestedModal = $(this).closest('.modal');
                                                            nestedModal.modal('hide'); // Hide the current nested modal
                                                            $('#mainModal').modal('show'); // Show the main modal
                                                        });
                                                    }
                                                });
                                                function hide_alert(){
                                                    document.getElementById("alert-box").style.display="None";
                                                   }
                                                   setTimeout(hide_alert,5000);
                                            </script>
									</div>
								</div>
								<!--end row-->
							</div>
						</div>
					</div>
				</section>
				<!--end shop cart-->
			</div>
		</div>
		<!--end page wrapper -->
{% endif %}
{% endblock content%}
