a{
    text-decoration: none !important;
    color: #000;
}

.item{
    object-fit: contain;
}

.image_style{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
  